
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Areas/Admin/Scripts/DateTime/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />

<body>
    @Html.Partial("~/Views/Shared/_Loader.cshtml")
    @Html.Partial("~/Views/Shared/_AlertMSG.cshtml")
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Student Verification
                </div>

                <div class="panel-body">
                    <div id="Panel_Warning" style="display: none;">
                        <div class="alert alert-warning" role="alert">
                            <label id="Label_Warning"></label>
                        </div>
                    </div>

                    <div id="Panel_Error" style="display: none;">
                        <div class="alert alert-danger" role="alert">
                            <label id="Label_ErrorMessage"></label>
                        </div>
                    </div>

                    <div id="Panel_Confirm" style="display: none;">
                        <div class="alert alert-success" role="alert">
                            <label id="Label_ConfirmMessage"></label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" id="divDate">
                                    <div class="col-sm-4 required">
                                        From Date
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" id="txtFromDate" name="txtFromDate" class="form-control datePicker" placeholder="Select from date" data-inputmask="'alias': 'date'" />
                                            <span class="input-group-addon"><i id="imgTodt" class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group" id="divDate">
                                    <div class="col-sm-4 required">
                                        To Date
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" id="txtToDate" name="txtToDate" class="form-control datePicker" placeholder="Select to date" data-inputmask="'alias': 'date'" />
                                            <span class="input-group-addon"><i id="imgTodt" class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="btn btn-primary" id="btnShow">&nbsp;Show </button>
                                        <button type="button" id="btnSave" class="btn btn-primary">
                                            <span class="fa fa-floppy-o" aria-hidden="true">&nbsp;Bulk Approval</span>
                                        </button>
                                        <button type="button" id="btnCancel" class="btn btn-default">Cancel</button>
</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="col-md-12" id="divStudents" style="display: none;">
                        <div class="form-horizontal">
                            <div class="row Scroll" style="width:100%;margin:0 auto; border:solid 1px;">
                                <table id="example" style="width:100%;" class="table table-bordered dt-responsive nowrap">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-1" style="text-align: center;">
                                                <input type="checkbox" id="ChkAll" name="ChkAll" />
                                                <b>@Admin_Resources.LblSelectALl</b>
                                            </th>
                                            <th>@Admin_Resources.LblUserName</th>
                                            <th>@Admin_Resources.LblUserMobileNumber</th>
                                            <th>@Admin_Resources.LblUserRegistrationId</th>
                                            <th>@Admin_Resources.LblEmail</th>
                                            <th>@Admin_Resources.LblApprovalStatus</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section scripts{
    <script src="~/Areas/Admin/Scripts/DateTime/bootstrap-datetimepicker.js"></script>
    <script src="~/Areas/Admin/Scripts/DateTime/jquery.inputmask.bundle.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.0/js/responsive.bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Scripts/StudentApproval.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        StudentApproval.Init();
        function ApplicationPrint(LoginRegistration) {
           
            $.ajax({
                url: "/Admin/StudentApproval/SingleStudentApproval?LoginRegistration=" + LoginRegistration,
                type: "GET",
                dataType: 'json',
                success: function (data) {
                   ToggleSaved(data);
                   GetStudentApprovalGried();
                },
                error: function (errResponse) {

                }
            });

        }
    </script>
}




